.marker-type-row {
    
    & button {
        border-radius: 20px;
        padding: 0px 10px; 
        font-weight: bold !important;
        & svg {
            margin-right: -5px;
            margin-bottom: 1px;
            font-size: 1rem !important;
        }
    }
}

.add-marker-text-field {
    width:100%; 
    & input {
        border-radius: 10px !important;
    }
    & .MuiOutlinedInput-root {
        border-radius: 15px !important;
    }
}



/* .MuiPopper-root.MuiAutocomplete-popper.MuiAutocomplete-popperDisablePortal.css-1rndd9j-MuiPopper-root-MuiAutocomplete-popper {

} */