#marker-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    padding-bottom: 20px; 

    & h1 {
        margin:0px;
        font-size: 1.3rem;

        &.go-back-header {
            flex-grow: 1;
            margin-left: -24px;
            text-align: center;
        }

        &.regular-header {
            flex-grow: 1;
            margin-right: -24px;
            text-align: center;
        }
    }

    & p {
        margin:0px; 
    }

    & .marker-type {
        color:gray;
    }
}



/* IMAGE EXPANDER */
.image-expander {
    opacity: 0;
    visibility: hidden;
    transition: 100ms;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(3px);
}

.image-expander.open {
    opacity: 1 !important;
    visibility: visible;
}

.image-expander img {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
}

#internal-image-div {
    position:relative;
}

#close-image-expander-btn {
    position:absolute;
    top: -2%;
    right: 6%;
}