

.notification-summary-container {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.notification-details-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* margin: 15px; */
}

.timestamp {
    color:gray;
    /* font-size: .9rem;
    margin-top: 1px; */
}

.summary-text {
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    margin:10px;
}

.notification-circle {
    min-height: 19px;
    min-width: 19px;
    margin: 2px;
    margin-bottom: 4.5px;
    border-radius: 50%;
    border: 2px solid gray;
    background-color: transparent;
    transition: 500ms;
}

.notification-circle.unopened {
    background-color: #90caf9;
    border: 2px solid #90caf9
}

.notification-circle.new-marker.unopened {
    background-color: #90caf9;
    border: 2px solid #90caf9
}

.notification-circle.join-org.unopened {
    background-color: #f99090;
    border: 2px solid #f99090
}


