#settings-modal {
    display: flex;
    flex-flow: column;
    padding:10px 20px 20px 20px;

    & .settings-accordian {
        & .svg-right-10 {
            & svg {
                margin-right: 10px;
            }
        }
    }
}

.settings-row {
    display: flex;
    justify-content: space-between;
    width:100%;
}