/* animation: name duration timing-function delay iteration-count direction fill-mode;*/
.fade-in {
    animation: fadein .3s ease-out forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.breath {
    animation: breath 3s ease-in-out infinite;
}

@keyframes breath {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: .5;
        transform: scale(.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.expand {
    animation: expand .3s ease-out forwards;
}

@keyframes expand {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}