#modal {
    & .MuiDialog-container > .MuiPaper-root {
        border-radius: 20px !important;
        width: 80% !important;
        min-width: 326px !important;
        max-width: 500px !important;
    }

    & .css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
        background: rgb(0,0,0,.75) !important;
    }

    &.add-marker-modal {
        & .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
            overflow: visible !important;
        }
    }
}